body {
  background: black;
  color: white;
}

@media screen and (min-width: 600px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .col-4 {
    flex: 1 1 30%;
  }

  .col-8 {
    flex: 1 1 70%;
  }
}
