.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.slide-img {
  border: 1px;
  width: 100%;
  background: #fff;
  z-index: 0;
}

.slide-button {
  position: relative;
  z-index: 1;
  display: block;
  border: 0;
  padding: 10px 20px;
  text-indent: -9999em;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.slide-button--previous {
  transform: translateX(110%);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='16' height='16'%3E%3Cpath d='m 10,3 -5,5 5,5 z' fill='%23000'/%3E%3C/svg%3E");
}

.slide-button--next {
  transform: translateX(-110%);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='16' height='16'%3E%3Cpath d='m 6,3 5,5 -5,5 z' fill='%23000'/%3E%3C/svg%3E");
}

.slide-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
