.slidetabs {
  display: inline-block;
  max-width: 120px;
  align-items: center;
  justify-self: center;
  border: 3px solid transparent;
  margin: 10px;
  opacity: 0.6;
}

.slidetabs-img {
  max-width: 100%;
}

.slidetabs + .slidetabs {
  margin-top: 10px;
}

.slidetabs--active {
  opacity: 1;
  border-color: cyan;
}
